html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open sans","Arial", sans-serif;
}

 * {
    box-sizing: border-box;
 }

a, a:hover {
    text-decoration: none;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    background: url("/img/girl1.png") no-repeat 80% 100%;
    background-color: #48d7d7;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    position: relative;
}

.header__nav-menu {
    width: 80%;
    height: 75px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 8px;
    position: fixed;
}

.nav-menu__item {
    padding-bottom: 1%;
}

.nav-menu__logo {
    width: 80%;
    padding-left: 10px;
}

.nav-menu__item a {
    color: #969596;
    font-size: 0.7rem;
}

.nav-menu__item a:hover {
    color: #f69e00;
}

.phone-number {
    font-weight: 700;
    font-size: 1rem;
    color: black;
    padding-right: 10px;
}

.header__tagline {
    padding-left: 12.5%;
    padding-top: 145px;
    color: white;
    
}

.header__tagline__row-1{
    font-weight: 800;
    font-size: 6rem;
    line-height: 5rem;
}

.header__tagline__row-2 {
    padding-top: 40px;
    font-size: 1.7rem;
}

.header__button {
    padding-top: 30px;
    padding-left: 12.5%;
}

.header__tagline__button {
    font-size: 1.7rem;;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 0.5px;
    border-radius: 33px;
    background-image: -moz-linear-gradient( -90deg, rgb( 85, 221, 73 ) 0%, rgb( 61, 161, 57 ) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb( 85, 221, 73 ) 0%, rgb( 61, 161, 57 ) 100%);
    box-shadow: 0px 5px 0px 0px rgb( 41, 134, 36 );
    width: 270px;
    height: 70px;
    outline: none;
}

.header__social {
    align-self: flex-end;
    display: flex;
    padding-right: 150px;
    padding-top: 35px;

}

.header__arrow-down {
    position: absolute;
    left: 50%;
    top: 91.5%;
}

.social-icon {
    margin-right: 10px;
}

.hidden {
    opacity: 0;
}

.hidden:hover {
    opacity: 1;
}

.header__social__vk {
    background: url("/img/vk.png") no-repeat 50% 1px;
}

.header__social__youtube {
    background: url("/img/youtube.png") no-repeat 50% 1px;
}

.header__social__insta {
    background: url("/img/instagramm.png") no-repeat 50% 1px;
}

.what-is-ed {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.what-is-ed__headline {
    height: 10%;
    font-size: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.what-is-ed__headline__shape {
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.1%;
}

.what-is-ed__ed-bank {
    width: calc(100% - 18%);
    display: flex;
    align-self: center;
}

.what-is-ed__ed-bank__column1, .what-is-ed__ed-bank__column3 {
    width: calc(100% / 3);
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
}

.what-is-ed__ed-bank__column2 {
    width: calc(100% / 3);
}

.img_big{
    width: 100%;
}

.img_small{
    padding: 3%;
    width: 15%;
}

.what-is-ed__ed-bank__column__title {
    width: calc(100% - 25%);
    padding-left: 20px;
}

.what-is-ed__that-easy__headline {
    padding-top: 7%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 0.8rem;

}

.what-is-ed__that-easy__blocks {
    display: table;
    margin: 0 auto;
    padding-bottom: 7%
}

.t-row {
    display: table-row;
}

.t-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    padding-left: 30px;
}

.stars {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    padding-top: 70px;
}

.stars__tagline {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
}

.stars__slider {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    width: calc(100% - 8vw);
    justify-content: space-evenly;
}

.stars__quotes_small {
    width: 60%;
}

.stars__slider__citations {
    flex-basis: 70%;
    line-height: 1.5rem;
    font-size: 0.8rem;
}

.stars__slider__back-arrow {
    background: url("./img/slider-arrow.png") no-repeat 50% 0;
}

.rotated {
    transform: rotate(180deg);
}

.stars__slider__dots {
    width: 5vw;
    height: 6vh;
    display: inline-flex;
    justify-content: space-between;
}


.stars__video-frame {
    width: 100%;
    height: 100vh;
}

.footer {
    width: 80%;
    padding: 6vh 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 0.8rem;
}

.footer__purpose {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}

.footer__social, .footer__copyrights {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-self: center;
}

.footer__copyrights {
    flex-grow: 1;
}

.footer__social__vk {
    background: url("./img/footer__social-vk.jpg") no-repeat;
    background-size: contain;
    width: 35px;
}

.footer__social__youtube {
    background: url("./img/footer__social-youtube.jpg") no-repeat;
    background-size: contain;
    margin-left: 15px;
    width: 35px;
}

.footer__social__insta {
    background: url("./img/footer__social-insta.jpg") no-repeat;
    background-size: contain;
    margin-left: 15px;
    width: 35px;
}

.footer__social__img_sized {
    width: 100%;
}

